.container {
  width: 100%;
}

.date {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 8px 0;
  color: var(--palette-primary-text-6);
}

.date.isSelected {
  color: var(--palette-primary-light);
}

.text {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: var(--palette-primary-text-1);
  margin: 0;
  word-break: break-word;
}
