.container {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.rig {
  font-weight: 500;
  font-size: 18px;
  color: var(--palette-primary-text-1);
  margin: 0 0 4px 0;
}

.well {
  font-weight: 400;
  font-size: 14px;
  color: var(--palette-primary-text-1);
  margin: 0;
}
