.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 12px 12px 30px 12px;
}

.content {
  align-items: center;
  color: #9e9e9e;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
}