.tabBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  position: absolute;
  top: 86px;
  bottom: 48px;
  left: 0;
  right: 0;
}

.main {
  padding: 16px 16px 16px 24px;
}

.commentIcon {
  position: absolute;
  bottom: 10px;
  right: 16px;
  z-index: 1000;
}
