.container {
  width: calc(100% - 32px);
  max-width: 550px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
